%MAININPUT {
    font-family: "Fredoka One";
    font-style: normal;
    font-size: 44px;
    line-height: 105%;
}

%BODY2,
%BODY3 {
    font-family: "Inter";
    font-style: normal;
}

%BODY1 {
    font-family: "Fredoka";
    font-style: normal;
}

%BODY1,
%BODY2 {
    font-weight: 600;
}
%MAININPUT,
%BODY3 {
    font-weight: 400;
}

%BODY1 {
    font-size: 22px;
    line-height: 105%;
}

%BODY2 {
    font-size: 20px;
    line-height: 105%;
}

%BODY3 {
    font-size: 18px;
    line-height: 105%;
}
