%MAININPUT {
    font-size: 38px;
}

%BODY1 {
    font-size: 18px;
    line-height: 105%;
}

%BODY2 {
    font-size: 16px;
    line-height: 105%;
}

%BODY3 {
    font-size: 16px;
    line-height: 105%;
}
